body {
    font-family: 'Inter', sans-serif;
}

/* Para que el resultado aparezca suave */
#resultados.opacity-0 {
    opacity: 0;
    transform: translateY(1rem);
    pointer-events: none;
}

#resultados.opacity-0.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    transition: all 0.3s ease;
}
